$color-white: #FFF;
$color-white: #fff;
$color-grey: #f8f9fa;
$color-grey-darker: #E9ECEF;
$color-dark: #303030;
$color-black: #000;
$color-blue-darker: #143054;
$color-blue-dark: #4C688B;
$color-blue-light: #748BA7;
$color-red: #e33;